html {
  font-size:20px;
}
header {
  background: rgb(
    var(--v-theme-primary)
  ); /* Vi tager farven fra vores Vuetify temafil i plugins/vuetify.js */
  width: 25vw;
  height: 100%;
  position: fixed;
  left: 0;
}
.userPicture {
  border-radius: 1rem;
  display: block;
}
.mainContent {
  margin-left:26vw;
}
.vflspinner {margin:0 auto;display:block;}

/* Rare alert fade- animations */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@media (max-width: 1024px) {
  .mainContent {
    display: flex;
    justify-content: center;
    margin-left: 0;
    max-width:auto;
    width:100%;
  }
  .mainContent button {
    min-width: 15rem; /* 20 * 15 = ~300px */
  }
}
.v-btn {
  text-transform: none;
}
