html {
  font-size:20px;
}

h1,h2 {
  padding:0 0 1rem;
  color: #000000;
}
.userPicture {
  border-radius: 1rem;
  display: block;
}
.mainContent {
  margin-left:26vw;
}

@media (max-width: 1024px) {
  .mainContent {
    display: flex;
    justify-content: center;
    margin-left: 0;
    max-width:auto;
    width:100%;
  }
  .mainContent button {
    min-width: 15rem; /* 20 * 15 = ~300px */
  }
}
