h1 {
  color: #000000;
}
.userPicture {
  border-radius: 9999px;
  display: block;
}
.mainContent {
  margin-left:26vw;
  min-width:320px;
}

@media (max-width: 1024px) {
  .mainContent {
    display: flex;
    justify-content: center;
    margin-left: 0;
    max-width:auto;
    width:100%;
  }
  .mainContent button {
    min-width: 300px;
  }
}
